.dashboard {
    width: 90%;
    padding: 0 5%;
    height: 90vh;
    position: relative;
}

.dashboardcontent {
    width: 100%;
}

.recentOrderRevenue {
    width: 100%;
    display: flex;
}

.recentorder {
    width: 50%;
    height: 300px;
    background-color: aqua;
}

.monthlyRevenue {
    width: 50%;
    height: 300px;
    background-color: beige;
}